@using Vidly.Models
@model IEnumerable<Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Customers</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Customer customer in Model)
            {
                <tr>
                    <td>
                        <a href="~/customers/details/@customer.Id">@customer.Name</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

