@using Vidly.Models
@model IEnumerable<Movie>

@{
    ViewBag.Title = "Details";
}

@{
    if (Model.Any())
    {
        var movie = Model.ToList();
        <h2>@movie[0].Name</h2>
    }
    else
    {
        <h2>Movie Not Found</h2>
    }
}





